################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BoxOrganizer/.vs/BoxOrganizer/v16
